html {
  font-family: 'Poppins', sans-serif;
  background-color: #fdfdfd;
  color: #111113;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.txt-thin {
  font-weight: 500;
}

.txt-sm {
  font-weight: 600;
}

.full-height {
  height: 100vh;
}

.bg-green {
  background-color: #a7d493;
}

.bg-grey {
  background-color: #f8f8f8;
}

.bg-blue {
  background-color: #1e6291;
}

.txt-blue {
  color: #1e6291;
}

.txt-green {
  color: #8dc25f;
}

.txt-grey {
  color: #4a4d59;
}

.txt-white {
  color: #fdfdfd;
  text-decoration: none;
}

.center {
  text-align: center;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #1e6291;
}

.current {
  background-color: #8dc25f;
}

.btn {
  background-color: #1e6291;
  border-color: #1e6291;
  color: #fdfdfd;
  font-weight: 500;
  transition: 0.4s;
  border-radius: 10px;
}

.btn:hover {
  background-color: #a7d493;
  border-color: #a7d493;
  color: #111113;
}

.btn-ghost {
  background-color: transparent;
  color: #111113;
}

.btn-ghost:hover {
  background-color: #111113;
  border-color: #111113;
  color: #fdfdfd;
}

.btn-light {
  background-color: #8dc25f;
  border-color: #8dc25f;
  color: #fdfdfd;
}

.btn-light:hover {
  background-color: #111113;
  border-color: #111113;
  color: #fdfdfd;
}

.btn-icon {
  background-color: transparent;
  border-color: #111113;
  color: #111113;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
}

.btn-icon:hover {
  background-color: #111113;
  border-color: #111113;
  color: #fdfdfd;
}

.btn-icon-s {
  background-color: transparent;
  border-color: #111113;
  color: #111113;
  border-radius: 50%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;
}

.btn-nav {
  border-radius: 0;
  width: 100%;
  background-color: transparent;
  color: #111113;
  border: none;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-nav:hover {
  background-color: #1e6291;
  width: 100%;
  color: #fdfdfd;
}

.btn-long {
  width: 100%;
}

.divide {
  width: 80%;
  margin-left: 10%;
  border-top: 1px solid #8dc25f;
  border-bottom: 1px solid #8dc25f;
  border-left: none;
  border-right: none;
  line-height: -2px;
}

.logo {
  max-width: 100px;
  margin: auto;
}

.logo-xs {
  width: 15%;
  margin: auto;
}

.coming-soon {
  font-size: 48px;
  line-height: 48px;
}

.welcome {
  height: 65vh;
  padding-top: 25vh;
  margin: auto;
  width: 80%;
  color: #1e6291;
}

.container {
  position: relative;
  text-align: left;
}

.floating {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 80%;
}

.footer-a {
  width: 100%;
  background-color: #8dc25f;
  color: #fdfdfd;
  padding: 30px;
}

.footer-b {
  width: 100%;
  background-color: #111113;
  color: #fdfdfd;
  font-weight: 700;
  padding: 30px;
}

.nav-s {
  color: #111113;
  text-decoration: none;
  position: relative;
  padding: 5px 5px;
}

.nav-s:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #1e6291;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-s:hover:after {
  width: 100%;
  left: 0;
}

.nav-xs {
  color: #111113;
  text-decoration: none;
}

.nav-current {
  font-weight: 600;
  color: #1e6291;
}

label.nav-label::before {
  display: none;
}

.nav {
  display: none;
  position: absolute;
  width: 100vw;
  top: 65px;
  right: 0;
  z-index: 2;
}

.nav-check:checked ~ .nav {
  display: contents;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

input[type=text] {
  border: none;
  border-bottom: 6px solid #8dc25f;
}

input[type=email] {
  border: none;
  border-bottom: 6px solid #8dc25f;
}

@media only screen and (min-width: 38em) {

    .logo-s {
      padding-top: 5px;
      padding-bottom: 5px;
    }

}

@media only screen and (min-width: 90em) {

    .coming-soon {
      font-size: 72px;
      line-height: 72px;
    }

    .btn-icon-s {
      padding-top: 5px;
    }

    .floating {
      width: 44%;
    }

}
